{{ '{%' }} set {{ cookiecutter.formula_name|replace('-', '_') }} = salt.grains.filter_by({
    'default': {
        'pkgs': ['{{ cookiecutter.formula_name }}'],
        'service': '{{ cookiecutter.formula_name }}',
        'conf_file': '/etc/{{ cookiecutter.formula_name }}/{{ cookiecutter.formula_name }}.conf',
        'config': {
            'key': 'value',
        },
    },
    'Debian': {
    },
    'RedHat': {
    },
}, grain='os_family', merge=salt.pillar.get('{{ cookiecutter.formula_name }}:overrides'), base='default') {{ '%}' }}
