{{ cookiecutter.formula_name }}:
  lookup:
    pkg: my{{ cookiecutter.formula_name }}
    conf_file: /usr/local/etc/{{ cookiecutter.formula_name }}/{{ cookiecutter.formula_name }}.conf
  config:
    key: othervalue
